---
import { getPayloadDraftTexts } from "../lib/payload";

const data = await getPayloadDraftTexts();
const soonPosts = data.docs ?? [];
---

<section class="w-full min-w-0 flex flex-col gap-3">
  <h3 class="text-4xl font-medium text-left font-bebas text-human-2 border-b-human-3 border-b-2">
    Próximamente
  </h3>

  {soonPosts.length > 0 ? (
    <ul class="grid grid-cols-1 md:grid-cols-3 gap-3 px-3">
      {soonPosts.map((post: any) => {
        const collection = post.collection;
        const typeLabel = collection?.name ?? "";
        const icon = collection?.icon || "/icons/flower.svg";
        const coverUrl = post.cover?.url ?? "";
        const coverAlt = post.cover?.alt ?? post.title;

        return (
          <li class="snap-start flex-none">
            <article class="relative isolate overflow-hidden rounded aspect-[2/1] w-full">
              {coverUrl && (<img src={coverUrl} alt={coverAlt} class="absolute inset-0 h-full w-full object-cover pointer-events-none select-none opacity-70 grayscale-[20%]" loading="lazy"/>)}


              <div class="absolute bottom-0 flex flex-col justify-end gap-1 px-2 pb-1 pt-12 min-w-full bg-gradient-to-t from-human-4 to-transparent" style={`--collection-color: ${collection?.color ?? "#000000"}`}>
                <div class="flex items-center justify-between gap-2">
                  <p class="flex items-center gap-1 mt-auto text-xs text-human-2 font-black truncate">
                    <img src={icon} alt="" class="size-4" />
                    {typeLabel}
                  </p>
                </div>

                <h3 class="text-human-1 font-bebas text-start text-lg leading-6">
                  {post.title}
                </h3>
              </div>
            </article>
          </li>
        );
      })}
    </ul>
  ) : (
    <p class="mt-4 text-sm text-human-2">
      No hay borradores en progreso.
    </p>
  )}
</section>
