---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

const { type } = Astro.params;

export async function getStaticPaths() {
  const posts = await getCollection("texts");
  const types = [...new Set(posts.map((post: any) => post.data.type))];
  return types.map((type) => ({
    params: { type },
  }));
}

let typeTitle: any = "";

if (type === "consciencia") {
  typeTitle = "Consciencia colménica";
} else if (type === "lagrimas") {
  typeTitle = "Lágrimas de Siddartha";
} else if (type === "colores") {
  typeTitle = "En las luces de colores";
} else if (type === "still") {
  typeTitle = "Still Prefer Sentir";
} else if (type === "placebo") {
  typeTitle = "Placebo Onírico";
} else if (type === "pintas") {
  typeTitle = "Pintas Heredadas";
} else if (type === "world") {
  typeTitle = "If this world were mine";
} else {
  typeTitle = type;
}

let typeDescription: any = "";
if (type === "consciencia") {
  typeDescription = '"Se necesita una razón para odiar a alguien, y querer odiarle es una razón válida."';
} else if (type === "lagrimas") {
  typeDescription = '"Cuando miro a las nubes, no hay nadie más. Soy solo yo."';
} else if (type === "colores") {
    typeDescription = '"A través de mis sueños y añoranzas empezó la búsqueda del sentido."';
} else if (type === "still") {
    typeDescription = '"El calor de tu piel me dio razones para despertar."';
} else if (type === "placebo") {
    typeDescription = '"Escribir con un vacío en el pecho. Hallar en la insignificancia un camino hacia la libertad."';
} else if (type === "pintas") {
    typeDescription = '"Va de hallar dentro lo que siempre se ha buscado fuera."';
} else if (type === "world") {
    typeDescription = '"As an intent to achieve new ways of feeling, I started feeling."';
}

const posts = (await getCollection("texts"))
  .sort((a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post: any) => post.data.type === type);

const heroBg = "/banner.svg";
const baseBg = "#024350";
---

<Layout title={typeTitle}>
    <Header />
    <main class="w-full max-w-[1100px] sm:max-w-none flex flex-col gap-16"}>
        <section class="relative overflow-hidden">
            <div class="relative w-full min-h-[70vh] bg-cover bg-bottom" style={`background-image: url(${heroBg});`}>
                <div class="sm:hidden pointer-events-none absolute inset-x-0 top-0 h-8" style={`background: linear-gradient(to top, rgba(0,0,0,0), ${baseBg});`}></div>
                <div class="pointer-events-none absolute inset-x-0 bottom-0 h-4" style={`background: linear-gradient(to bottom, rgba(0,0,0,0), ${baseBg});`}></div>
            </div>
        </section>
        <section class="flex flex-col gap-6 px-6 w-full max-w-6xl mx-auto">
            <header class="mb-10">
                <h1 class="text-4xl font-bebas">{typeTitle}</h1>
                <p class="text-3xl font-tangerine opacity-80">{typeDescription}</p>
            </header>
            <ul class="grid gap-4 grid-cols-1 md:grid-cols-4 lg:grid-cols-5">
                {posts.map((post: any) => (
                  <li>
                    <a href={`/${type}/${post.slug}/`} class="block group">
                        <!-- <div class="relative overflow-hidden rounded-lg aspect-[2/3]">
                            <img src={post.data.heroImage} alt={post.data.title} class="absolute inset-0 h-full w-full object-cover" loading="lazy"/>
                            <p class="text-[#d8f7fe] absolute top-0 right-0 bg-[#024350] text-sm sm:text-xs px-2 py-1 rounded m-2 font-bold"></p>
                            <h2 class="absolute inset-x-0 bottom-0 bg-[#024350] text-[#d8f7fe] text-lg sm:text-base truncate font-bebas rounded px-2 py-1 m-2">{post.data.title}</h2>
                        </div> -->
                        <div class="relative isolate overflow-hidden rounded-lg aspect-[2/3]">
                          <img
                            src={post.data.heroImage}
                            alt={post.data.title}
                            class="absolute inset-0 h-full w-full object-cover pointer-events-none select-none"
                            loading="lazy"
                          />

                          <div class="absolute inset-0 bg-black/25"></div>

                          <div class="relative flex h-full flex-col px-3 py-3 min-w-0">
                            <h3 class="text-white font-bebas text-start text-xl sm:text-lg leading-none">
                              {post.data.title}
                            </h3>

                            <p class="mt-auto pt-2 text-sm sm:text-xs text-white font-black text-right truncate">
                                <FormattedDate date={post.data.pubDate} format="short"/>
                            </p>
                          </div>
                        </div>
                    </a>
                </li>
                ))}
            </ul>
            <Footer theme="home" />
        </section>
    </main>
</Layout>
